.titleEdite{
    color: blue;
}
.mainheader{
    margin-top: -35px !important;
}
.maintable{
    margin-top: -10px !important;
}
.btnSucess{
    float: right;
    margin-top: -10px;
    width: 2px !important;
    height: 5px !important;
}

.btnX{
    margin-top: -10px;
    color: red;
    float: right;
    cursor: pointer;
    font-size: 20px !important;
}
.mainLogin{
    margin-top: 6em;
    margin-bottom: 3rem;
}
.page-body-wrapper.full-page-wrapper .main-panel .content-wrapper > div{
    height: auto;
}