.JimTag{
    font-size: 20px;
    color: #ffffff;
    font-weight: 800;
}
.subJimTag{
    color: #ffffff;
    font-size: 10px;
    margin-top: -2px;

}
.whatsapp{
    margin-top: 2em;
}
.btn-dark{
    background-color: #000000;
}
.formSearch{
    margin-top: 6px !important;
    margin-left: 3em !important;
    width: 33rem !important;
}
.logo{
    margin-right: 15px;
}
.topDescription{
    margin-left: -5rem;
}
.iconBtn{
    margin-right: 2px;
}
.navbarMain{
    max-height: 70px!important;
    margin-bottom: 5px;
    background-color: #5ce1e6;

}
@media screen and (max-width: 576px) {
    .topDescription{
      margin-left: -5em;
    }
    .JimTag{
        font-size: 14px;
    }
    .subJimTag{
        font-size: 10px;
    }
    .formSearch{
        margin-left: -0.1em !important;
        width: 15rem!important;

    }
    .navbarMain{
        max-height: none !important;
    }

}
@media screen and (max-width: 374px ){
    .topDescription{
        display: none;
    }

}
